# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/storybook-static
/lib

# Yarn
yarn.lock
.yarnclean
yarn-debug.log*
yarn-error.log*

# misc
.vscode
.DS_Store
.lock
npm-debug.log*

# lint
.eslintcache